{
  "signing": {
    "default": {
      "expiry": "{{ ca_etcd_expiry }}"
    },
    "profiles": {
      "server": {
        "expiry": "{{ ca_etcd_expiry }}",
        "usages": [
          "signing",
          "key encipherment",
          "server auth",
          "client auth"
        ]
      },
      "peer": {
        "expiry": "{{ ca_etcd_expiry }}",
        "usages": [
          "signing",
          "key encipherment",
          "server auth",
          "client auth"
        ]
      },
      "client": {
        "expiry": "{{ ca_etcd_expiry }}",
        "usages": [
          "signing",
          "key encipherment",
          "client auth"
        ]
      }
    }
  }
}
