{
  "CN": "{{ ca_etcd_csr_cn }}",
  "key": {
    "algo": "{{ ca_etcd_csr_key_algo }}",
    "size": {{ ca_etcd_csr_key_size }}
  },
  "names": [
    {
      "C": "{{ ca_etcd_csr_names_c }}",
      "L": "{{ ca_etcd_csr_names_l }}",
      "O": "{{ ca_etcd_csr_names_o }}",
      "OU": "{{ ca_etcd_csr_names_ou }}",
      "ST": "{{ ca_etcd_csr_names_st }}"
    }
  ]
}
