{
  "CN": "{{ k8s_kube_proxy_csr_cn }}",
  "key": {
    "algo": "{{ k8s_kube_proxy_csr_key_algo }}",
    "size": {{ k8s_kube_proxy_csr_key_size }}
  },
  "names": [
    {
      "C": "{{ k8s_kube_proxy_csr_names_c }}",
      "L": "{{ k8s_kube_proxy_csr_names_l }}",
      "O": "{{ k8s_kube_proxy_csr_names_o }}",
      "OU": "{{ k8s_kube_proxy_csr_names_ou }}",
      "ST": "{{ k8s_kube_proxy_csr_names_st }}"
    }
  ]
}
